
header {
    display: inline;
    font-size: 300%;
    margin-left: 15px;

}

body {
    font-size: 20px;
    
    background-color: rgb(168, 189, 183);

}

p {
    font-size: large;
    margin-top: 20px;
}

h3 {
    margin: 20px;
}

.d-flex {
    margin-left: 10px;
}
